@import '../../constants/constants';

.LabeledTumbler {
    display: grid;
    grid-template-columns: $triangle-size 1fr $triangle-size;
    //grid-template-rows: $triangle-size 1fr $triangle-size;
    grid-template-rows: 0 1fr 0;
    z-index: -1;
    //grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: $triangle-size 1fr $triangle-size;

    &__ru, &__rd, &__lu, &__ld {
        grid-template-columns: $triangle-size $tumbler-length*1.5 $triangle-size;
    }
    &__ru {
        transform: rotate(-40deg);
    }

    &__rd {
        transform: rotate(40deg);
    }

    &__lu {
        transform: rotate(-139deg);
    }

    &__ld {
        transform: rotate(139deg);
    }
}

.Arrow {
    &__ru, &__rd, &__lu, &__ld {
        grid-area: 2/1/3/4;
    }
    &__hu, &__hd
    {
        grid-area: 2/1/3/4;
    }
    &__vl, &__vr {
        grid-area: 1/2/4/3;
    }

}

.Label {
    &__hu,
    &__ru, &__rd,
    &__lu, &__ld,
    &__vl, &__vr {
        width: max-content;
        cursor: default;
        position: relative;
    }

    &__special {
        width: fit-content;
    }


    &__hu,
    &__ru, &__rd,
    &__lu, &__ld {
        grid-area: 1/1/2/4;
    }

    &__ru {
        position: relative;
        bottom: 16px;
    }

    &__hd {
        grid-area: 3/1/4/4;
    }

    &__lu, &__ld {
        text-align: end;
        rotation-point: 0 0;
        transform: rotate(180deg);
    }

    &__vl {
        grid-area: 1/1/4/2;
        justify-self: end;
    }

    &__vr {
        grid-area: 1/3/4/4;
        justify-self: start;
        position: relative;
        left: $triangle-size*0.5;
    }

    &__vl, &__vr {
        padding: 32px 0;
        left: -10px;
    }

    &__hu {
        position: relative;
        bottom: $triangle-size;
        left: 12px;
    }
    &__hd {
        position: relative;
        left: 12px;
    }

    &__rd {
        position: relative;
        bottom: $triangle-size;
    }
}

.Align {
    &_down {
        align-self: end;
    }

    &_up {
        align-self: start;
    }

    &_c {
        justify-self: center;
    }

}
