$image-size: 50px;
$border-color: #EB5757;
$tumbler-length: 200px;
$tumbler-thickness: 5px;
$triangle-size: $tumbler-thickness*5;

$blue-card-width: 150px;
$blue-card-height: 130px;

$x1: 100px;
$x2: 450px;
$x3: $blue-card-width;
$x4: $tumbler-length;
$y1: $tumbler-length*0.6;
$y2: $blue-card-height*0.5;
$x40: $tumbler-length*1.35;

$y3: 100px;
$y4: 70px;
$x5: 100px;
$x6: 50px;
$x7: 120px;
$x8: $tumbler-length;
