$image-size: 50px;
$border-color: #EB5757;
$tumbler-length: 185px;
$tumbler-thickness: 5px;
$triangle-size: $tumbler-thickness*5;

$blue-card-width: 158px;
$blue-card-height: 135px;

$x1: 110px;
$x2: 450px;
$x3: $blue-card-width;
$x4: $tumbler-length+$triangle-size;
$y1: $tumbler-length*0.75;
$y2: $blue-card-height*0.5;
$x40: $tumbler-length*1.3 + $tumbler-thickness;

$y3: 100px;
$y4: 70px;
$x5: 100px;
$x6: 56px;
$x7: 80px;
$x8: 204px;
