.section {
    width: 97%;
    height: 32%;
    margin-bottom: 20px;
    @media screen and (min-width: 1900px) {
        margin-bottom: 30px;
      }
}

.plot {
    width: 97%;
    height: 30%;
    background-color: #E6E6E6;
    border-radius: 10px
}