.buttons-group {
  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-top: 5px;
  }
  &__button {
    margin: 0;
    outline: none;
    padding: 3px 10px 3px 10px;
    background-color: #FCFCFC;
    font-family: "Manrope", sans-serif;
    font-size: 9px;
    font-weight: 800;
    border: 1px solid #CCCCCC;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    cursor: pointer;
    &--active {
      background-color: #1976d2;
      color: #EEEEEE;
      border-color: #1976d2;
    }
  }
}
