@import "../../constants/constants";

.Main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: $x3*0.5 + $x2;
  padding-bottom: 100px;
  padding-top: 50px;
  height: 55%;
}

