@import "../../constants/constants";

.Main {
  border-bottom: $tumbler-thickness solid $border-color;
  border-left: $tumbler-thickness solid $border-color;
  border-top: $tumbler-thickness solid $border-color;
}

.AntiBorder1 {
  position: relative;
  top: 10px;
  right: 0;
  width: $x2 + $x3*0.5;
  height: $tumbler-thickness;
  background-color: black;
}
