@import "../../constants/constants";

.PureArrow {
  position: relative;
}

.Arrow_g {
  &__ru, &__rd, &__lu, &__ld,
  &__r, &__l, &__u, &__d {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(black, 0.15);
      border-radius: 20px;
    }
  }

  &__ru, &__rd, &__lu, &__ld {
    height: 40px;
  }

  &__r, &__l {
    height: 40px;
  }
  &__u, &__d {
    width: 40px;
  }

}

.Arrow
{
  &__ru, &__rd, &__lu, &__ld,
  &__r, &__l, &__u, &__d {
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($border-color, 0.3);
      border-radius: 20px;
    }

    &:active {
      background-color: rgba($border-color, 0.4);
      border-radius: 20px;
    }
  }

  &__ru, &__rd, &__lu, &__ld {
    height: 40px;
  }

  &__r, &__l {
    height: 40px;
  }
  &__u, &__d {
    width: 40px;
  }


}

.Arrow__ru, .Arrow__rd, .Arrow__lu, .Arrow__ld,
.Arrow_g__ru, .Arrow_g__rd, .Arrow_g__lu, .Arrow_g__ld
{
  left: -$tumbler-thickness*2;
}


.PowerIcon {
  &__Right, &__Left, &__Up, &__Down,
  &__RightUp, &__RightDown, &__LeftUp, &__LeftDown {
    justify-self: center;
    align-self: center;
  }

  &__Right {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 60px;
    top: 20px - $triangle-size*0.5;
  }

  &__Left {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 60px;
    top: 20px - $triangle-size*0.5;
  }

  &__Up {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 20-$triangle-size*0.5;
    top: 60px;
  }

  &__Down {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 20-$triangle-size*0.5;
    bottom: 60px;
  }

  &__RightUp, &__RightDown, &__LeftUp, &__LeftDown {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 60px;
    top: 20px - $triangle-size*0.5;
  }

  &__RightUp {
    transform: rotate(40deg);
  }

  &__RightDown {
    transform: rotate(-40deg);
  }

  &__LeftUp {
    transform: rotate(139deg);
  }

  &__LeftDown {
    transform: rotate(-139deg);
  }

}
