@import "../../constants/constants";

.PureArrow {
  position: relative;
  top: $tumbler-thickness*0.5;
}

.Arrow_g, .Arrow_g__ru, .Arrow_g__rd, .Arrow_g__lu, .Arrow_g__ld {
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  position: relative;

  &:hover {
      background-color: rgba(black, 0.15);
      border-radius: 20px;
  }
}

.Arrow, .Arrow__ru, .Arrow__rd, .Arrow__lu, .Arrow__ld
{
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  position: relative;

  &:hover {
    background-color: rgba($border-color, 0.3);
    border-radius: 20px;
  }
}

.Arrow__ru, .Arrow__rd, .Arrow__lu, .Arrow__ld,
.Arrow_g__ru, .Arrow_g__rd, .Arrow_g__lu, .Arrow_g__ld
{
  left: -$tumbler-thickness*2;
}


.PowerIcon {
  &__Right, &__Left, &__Up, &__Down,
  &__RightUp, &__RightDown, &__LeftUp, &__LeftDown {
    width: $triangle-size;
    height: $triangle-size;
  }

  &__Right {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 60px;
    top: 0;
  }

  &__Left {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 60px;
    top: 0;
  }

  &__Up {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 0;
    top: 60px;
  }

  &__Down {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    //left: -$tumbler-thickness*0.3;
    left: 0;
    bottom: 60px;

  }

  &__RightUp, &__RightDown, &__LeftUp, &__LeftDown {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 60px;
    top: - $tumbler-thickness*0.1;
  }

  &__RightUp {
    transform: rotate(38deg);
  }

  &__RightDown {
    transform: rotate(-38deg);
  }

  &__LeftUp {
    transform: rotate(142deg);
  }

  &__LeftDown {
    transform: rotate(-142deg);
  }

}
