@import "../../constants/constants";


.Arrow_g, .Arrow_g__ru, .Arrow_g__rd, .Arrow_g__lu, .Arrow_g__ld {
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  //width: fit-content;
  //height: fit-content;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  &:hover {
      background-color: rgba(black, 0.15);
      border: 3px solid transparent;
      border-radius: 10px;
  }
}

.Arrow, .Arrow__ru, .Arrow__rd, .Arrow__lu, .Arrow__ld
{
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  //width: fit-content;
  //height: fit-content;

  &:hover {
    background-color: rgba($border-color, 0.3);
    border: 3px solid transparent;
    border-radius: 10px;
  }
}

.PowerIcon {

  &__Right {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: relative;
    left: $tumbler-length*0.5;
    top: - $triangle-size - $tumbler-thickness*0.5;
  }

  &__Left {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: relative;
    left: $tumbler-length*0.5 - $triangle-size;
    top: - $triangle-size - $tumbler-thickness*0.5;
  }

  &__Up {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: relative;
    left: -$tumbler-thickness*0.5;
    top: -$tumbler-length*0.5 - $triangle-size;
  }

  &__Down {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: relative;
    left: -$tumbler-thickness*0.5;
    bottom: $tumbler-length*0.5;
  }

  &__RightUp, &__RightDown, &__LeftUp, &__LeftDown {
    background-color: $border-color;
    border-radius: 50%;
    color: white;
    position: relative;
    left: $tumbler-length;
    top: - $triangle-size - $tumbler-thickness*0.5;
  }

  &__RightUp {
    transform: rotate(47deg);
  }

  &__RightDown {
    transform: rotate(-47deg);
  }

  &__LeftUp {
    transform: rotate(133deg);
  }

  &__LeftDown {
    transform: rotate(-133deg);
  }

}
