.header {
  &__container {
    display: flex;
    //position: absolute;
    //top: 0;
    width: calc(100% - 50px);
    // width: 100vw;
    height: 15%;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    @media screen and (min-width: 1900px) {
      zoom: 1.5
    }
  }
  &__label {
    font-family: "Manrope", sans-serif;
    cursor: default;
    // font-size: 44px;
    font-weight: 900;
  }
}
