@import "../../constants/constants";

.Net {
  display: grid;
  grid-template-columns: $x5 $x6 $x7 $x8;
  grid-template-rows: $y3 $y4 $y3;
  cursor: default;
}

.Cell1, .Cell2, .Cell3, .Cell4 {
  align-self: center;
}
.Cell1, .Cell2, .Cell3 {
  justify-self: center;
}

.Cell1 {
  grid-area: 2/1/2/1;
  padding-right: 28px;
  padding-bottom: 8px;
}

.Cell2 {
  grid-area: 2/2/2/2;
  background-color: $border-color;
  height: $tumbler-thickness;
  width: $x6;
}

.Cell3 {
  grid-area: 2/3/2/3;
}

.Cell4 {
  grid-area: 2/4/2/4;
  background-color: $border-color;
  height: $tumbler-thickness;
  width: $x8;
}

.Cell5 {
  grid-area: 3/1/3/1;
  padding-top: 8px;
}

.Cell7 {
  grid-area: 3/3/4/5;
  padding-top: 8px;
}

.Cell8 {
  grid-area: 1/4/1/4;
  align-self: end;
  justify-self: center;
  position: relative;
  bottom: -$y4*0.4;
}
