.plot-header {
  &__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 65px;
    z-index: 11;
    //min-width: 700px;
    @media screen and (min-width: 1900px) {
      zoom: 1.4
    }
  }
  &__header-container {
    display: flex;
    flex-direction: row;
  }
  &__header {
    margin: 0 0 5px 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    @media screen and (min-width: 1900px) {
      font-size: 24px;
    }
    color: black;
    font-weight: 900;
    cursor: default;
  }
  &__legend-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  &__legend {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    @media screen and (min-width: 1900px) {
      font-size: 14px;
    }
    font-weight: 900;
    padding: 0;
    margin: 0 5px 0 10px;
    cursor: default;
    &--traditional {
      color: #EB5757;
      margin: 0 5px 0 15px;
    }
    &--distributed {
      color: goldenrod;
    }
    &--internet {
      color: rgb(50,205,50);
    }
  }

}
