.hover {
  position: relative;

  &:hover &__no_hover {
    opacity: 0;
  }

  &:hover &__hover {
    display: none;
  }

  &__hover {
    position: absolute;
    opacity: 0;
  }

  &__no_hover {
    opacity: 1;
  }
}
