@import "../../constants/constants";

.InnerPart {
  position: relative;
  display: grid;
  grid-template-columns: $x1 $x2 $x3 $x40 $x3 $x2;
  grid-template-rows: $y1 $y2 $y2 $x4 $y2 $y2 $y1;

  border-bottom: $tumbler-thickness solid $border-color;
  border-left: $tumbler-thickness solid $border-color;
  border-top: $tumbler-thickness solid $border-color;
  width: $x1 + $x2 + $x3 + $x40 + $x3*0.5;
  height: 2*$y1 + 4*$y2 + $x4;

  &::after {
    content: '';
    width: 3px;
    height: 5px;
    background-color: $border-color;
    position: absolute;
    top: -5px;
    right: -3px;
  }

  &:before {
    content: '';
    width: 3px;
    height: 5px;
    background-color: $border-color;
    position: absolute;
    bottom: -5px;
    right: -3px;
  }
}

.Item8 {
  grid-area: 2/3/4/4;
}

.Item10 {
  grid-area: 2/5/4/6;
}

.Item21 {
  grid-area: 5/3/7/4;
}

.Item23 {
  grid-area: 5/5/7/6;
}

.Item3 {
  grid-area: 1/3/1/3;
}

.Item5 {
  grid-area: 1/5/1/5;
}

.Item27 {
  grid-area: 7/3/7/3;
}

.Item29 {
  grid-area: 7/5/7/5;
}

.Item16 {
  grid-area: 4/4/4/4;
}

.Item160 {
  grid-area: 4/4/4/4;
}

.Item9 {
  grid-area: 2/4/4/5
}

.Item15 {
  grid-area: 4/3/4/3;
}

.Item17 {
  grid-area: 4/5/4/5;
}

.Item22 {
  grid-area: 5/4/7/5;
}

.Item8, .Item10, .Item21, .Item23 {
  width: 158px;
  height: 135px;
  z-index: 1;
}

.Item3, .Item5, .Item27, .Item29, .Item15, .Item17 {
  justify-self: center;
  align-self: center;
}

.Item9, .Item22 {
  align-self: center;
  justify-self: center;
}

.Item16 {
  align-self: center;
  justify-self: center;
}

.Item160 {
  align-self: center;
  justify-self: center;
}

.Item7 {
  grid-area: 2/2/2/2;
}

.Item12 {
  grid-area: 3/2/3/2;
}

.Item11 {
  grid-area: 2/6/2/6;
}

.Item13 {
  grid-area: 3/6/3/6;
}

.Item19 {
  grid-area: 5/2/5/2;
}

.Item20 {
  grid-area: 6/2/6/2;
}

.Item24 {
  grid-area: 5/6/5/6;
}

.Item25 {
  grid-area: 6/6/6/6;
}

.Item1 {
  grid-area: 1/1/8/2;
  width: $x1;
}


//----

.Item7,
.Item12,
.Item11,
.Item13,
.Item19,
.Item20,
.Item24,
.Item25 {
  align-self: center;
  cursor: default;
}

.Item3, .Item5, .Item7, .Item8, .Item9, .Item10, .Item11,
.Item12, .Item13, .Item15, .Item16, .Item17, .Item19,
.Item20, .Item21, .Item22, .Item23, .Item24, .Item25,
.Item27, .Item29 {
  position: relative;
}

.Item11, .Item7, .Item19, .Item24 {
  margin-bottom: 24px;
}

.Item13, .Item12, .Item20, .Item25 {
  margin-top: 24px;
}


