@import "../../constants/constants";

.InnerPart {
  position: relative;
  display: grid;
  grid-template-columns: $x1 $x2 $x3 $x40 $x3 $x2;
  grid-template-rows: $y1 $y2 $y2 $x4 $y2 $y2 $y1;

  border-bottom: $tumbler-thickness solid $border-color;
  border-left: $tumbler-thickness solid $border-color;
  border-top: $tumbler-thickness solid $border-color;
  width: $x1 + $x2 + $x3 + $x40 + $x3*0.5 + 0.6mm;
  height: 2*$y1 + 4*$y2 + $x4;

  //&::after {
  //  content: '';
  //  width: 3px;
  //  height: 5px;
  //  background-color: $border-color;
  //  position: absolute;
  //  top: -5px;
  //  right: -3px;
  //}
  //
  //&::before {
  //  content: '';
  //  width: 3px;
  //  height: 5px;
  //  background-color: $border-color;
  //  position: absolute;
  //  bottom: -5px;
  //  right: -3px;
  //}
}

.Cell8 {
  grid-area: 2/3/4/4;
}

.Cell10 {
  grid-area: 2/5/4/6;
}

.Cell21 {
  grid-area: 5/3/7/4;
}

.Cell23 {
  grid-area: 5/5/7/6;
}

.Cell3 {
  grid-area: 1/3/1/3;
}

.Cell5 {
  grid-area: 1/5/1/5;
}

.Cell27 {
  grid-area: 7/3/7/3;
}

.Cell29 {
  grid-area: 7/5/7/5;
}

.Cell16 {
  grid-area: 4/4/4/4;
}

.Cell160 {
  grid-area: 4/4/4/4;
}

.Cell9 {
  grid-area: 2/4/4/5
}

.Cell15 {
  grid-area: 4/3/4/3;
}

.Cell17 {
  grid-area: 4/5/4/5;
}

.Cell22 {
  grid-area: 5/4/7/5;
}

.Cell8, .Cell10, .Cell21, .Cell23 {
  width: 158px;
  height: 135px;
  z-index: 1;
  cursor: default;
}

.Cell3, .Cell5, .Cell27, .Cell29, .Cell15, .Cell17 {
  justify-self: center;
  align-self: center;
}

.Cell9, .Cell22 {
  align-self: center;
  justify-self: center;
}

.Cell16 {
  align-self: center;
  justify-self: center;
}

.Cell160 {
  align-self: center;
  justify-self: center;
}

.Cell7 {
  grid-area: 2/2/2/2;
}

.Cell12 {
  grid-area: 3/2/3/2;
}

.Cell11 {
  grid-area: 2/6/2/6;
}

.Cell13 {
  grid-area: 3/6/3/6;
}

.Cell19 {
  grid-area: 5/2/5/2;
}

.Cell20 {
  grid-area: 6/2/6/2;
}

.Cell24 {
  grid-area: 5/6/5/6;
}

.Cell25 {
  grid-area: 6/6/6/6;
}

.Cell1 {
  grid-area: 1/1/8/2;
  width: $x1;
}


//----

.Cell7,
.Cell12,
.Cell11,
.Cell13,
.Cell19,
.Cell20,
.Cell24,
.Cell25 {
  align-self: center;
  cursor: default;
}

.Cell3, .Cell5, .Cell7, .Cell8, .Cell9, .Cell10, .Cell11,
.Cell12, .Cell13, .Cell15, .Cell16, .Cell17, .Cell19,
.Cell20, .Cell21, .Cell22, .Cell23, .Cell24, .Cell25,
.Cell27, .Cell29 {
  position: relative;
}

.Cell11, .Cell7, .Cell19, .Cell24 {
  margin-bottom: 24px;
}

.Cell13, .Cell12, .Cell20, .Cell25 {
  margin-top: 32px;
}

.Cell1 {
  align-items: flex-end;
  display: flex;
  white-space: pre;
  padding: 13px;
}


